/*
!!!IMPORTANT: only add styling to declarations that start with #card-100 selector, leave everything else as it is!!!
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Bootstrap Card styling overide */

.card {
  background-color: #fff;
  background-clip: border-box;
  border: none; /* changed */
  border-radius: 0; /* changed */
}

.card-body {
  padding: 0; /* changed */
}

.card-title {
  margin-bottom: 0; /* changed */
}

.card-subtitle {
  margin-top: 0; /* changed */
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 0; /* changed */
}

.card-img {
  width: 100%;
  border-radius: 0; /* changed */
}

ul {
  margin-top: 0;
  margin-bottom: 0; /* changed */
}

/* Number of columns for different screen widths */

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


/* Add your card styles here,
please don't change or add any class selectors */

#card-100.card {
  font-family: sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #ffb366;
  border: solid 2px gray;
}

#card-100 .card-title {
  text-align: center;
}

#card-100 .card-title:hover {
 
}

/* if you have a second line on the card title,
use this class */
#card-100 .second-title {
  
}

#card-100 img.card-img {
   margin: auto;
   border: solid 2px grey;
   padding: 2px; 
   border-radius: 5px;
}

#card-100 .card-body {
  border: solid 1px grey;
  padding: 1px;
  text-align: center;
}

#card-100 .card-subtitle {
  text-align: center;
  font-style: italic;
}

#card-100 .card-list-group {
  list-style: none;
}

#card-100 .card-list-group span {
  
}

#card-100 .card-list-group span:hover {
  
}

#card-100 .card-text {
  
}

/* If you have a link in your card, add the styles here. If you don't have a link, leave it as it is */
#card-100 .card-link {
 display: none;
}

/* Making any card linkable without changing the styling, please don't change */

.card-switch {
color: inherit;
text-decoration: none;
}

.card-switch:hover {
color: inherit;
text-decoration: none;
}



